#include <behaviors.dtsi>

#include <dt-bindings/zmk/keys.h>

#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>

#include "gamebad_mk2-macros.dtsi"

// Template:
// -------------------------------------------------------- //
//  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  //
//  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  //
//  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  //
//  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  //
//  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx                  //
// -------------------------------------------------------- //
// bindings = <
//   &none  &none  &none  &none  &none  &none  &none  &none  &none  &none   &none  &none  &none  &none
//   &none  &none  &none  &none  &none  &none  &none  &none  &none  &none   &none  &none  &none  &none
//   &none  &none  &none  &none  &none  &none  &none  &none  &none  &none   &none  &none  &none  &none
//   &none  &none  &none  &none  &none  &none  &none  &none  &none  &none   &none  &none  &none  &none
//   &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
// >;

/ {
  keymap0: keymap {
    compatible = "zmk,keymap";

    default_layer {
      display-name = "Base";
      // ---------------------------------------------------------------------------------- //
      //  ESC     1    2    3    4    5      6      7    8    9           0   -   =   BSPC  //
      //  TAB     Q    W    E    R    T      Y      U    I    O           P   \   xx  xx    //
      //  CLCK    A    S    D    F    G      H      J    K    L           ;   '   xx  xx    //
      //  LSHIFT  Z    X    C    V    B      N      M    ,    .           /   xx  xx  xx    //
      //  LCTRL   F13  F14  F15  F16  SPACE  ENTER  F17  F18  layer_ctrl  na  na  na  na    //
      // ---------------------------------------------------------------------------------- //
      bindings = <
        &kp ESC    &kp N1   &kp N2   &kp N3   &kp N4   &kp N5     &kp N6     &kp N7   &kp N8     &kp N9      &kp N0    &kp MINUS  &kp EQUAL  &kp BSPC
        &kp TAB    &kp Q    &kp W    &kp E    &kp R    &kp T      &kp Y      &kp U    &kp I      &kp O       &kp P     &kp BSLH   &none      &none
        &kp CLCK   &kp A    &kp S    &kp D    &kp F    &kp G      &kp H      &kp J    &kp K      &kp L       &kp SCLN  &kp SQT    &none      &none
        &kp LSHFT  &kp Z    &kp X    &kp C    &kp V    &kp B      &kp N      &kp M    &kp COMMA  &kp PERIOD  &kp FSLH  &none      &none      &none
        &kp LCTRL  &kp F13  &kp F14  &kp F15  &kp F16  &kp SPACE  &kp ENTER  &kp F17  &kp F18    &mo 1
      >;
    };

    control_layer {
      display-name = "Control";
      // --------------------------------------------------------- //
      //  studio_unlock  prf.0  prf.1  prf.2  prf.3  prf.4  prf.5  xx  xx  xx  xx  xx  xx   xx  //
      //  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  //
      //  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  //
      //  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  //
      //  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  xx  //
      // --------------------------------------------------------- //
      bindings = <
        &studio_unlock  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 5  &none  &none  &none   &none  &none  &none  &sys_reset
        &none           &none  &none  &none  &none  &none  &none  &none      &none  &none   &none  &none  &none  &bootloader
        &ZM_unstick     &none  &none  &none  &none  &none  &none  &none      &none  &none   &none  &none  &none  &out OUT_USB
        &none           &none  &none  &none  &none  &none  &none  &none      &none  &none   &none  &none  &none  &out OUT_BLE
        &bt BT_CLR_ALL  &none  &none  &none  &none  &none  &none  &soft_off  &none  &none
      >;
    };
  };
};
